body{
 
   -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;   
    width: auto;
    height: auto;
    background-image: url(../images/background.png);
 	background-position: center  center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
 	background-color: #D2B48C;
}
.news{
    color:white;
}

.logo{
    margin:0px 550px;
    margin-top:45px;
    text-align: center;
    display: inline-block;
    padding-bottom:0px;
    
}
.logo h1{
        margin:0;
        padding:0;
        position: absolute;
        left:630px;
        top:60px;
     
    
    color:#f1f1f1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navig ul{
  list-style: none;
    margin:0;
    padding:0;
    float: left;
    margin-left: 315px; 
     
}
.navig li{
   
    display:inline-flex;
    
    margin-right:50px;
    
    
}
.navig a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#f1f1f1;
    text-transform: uppercase;
}

.icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    /*margin: 0 5px;*/
    vertical-align: bottom;
  background: url(../images/icon.png) no-repeat;
}
 .icon-twit {
    background: url(../images/icon.png) no-repeat -194px 0px;
}
 .icon-fb {
    background: url(../images/icon.png) no-repeat -355px 0px;

}
 .icon-vk {
    background: url(../images/icon.png) no-repeat -526px 0px;

}
.icon-g{
    background: url(../images/icon.png) no-repeat -635px 0px;
}
.info{
    background-color: #f1f1f1;
    margin-top:50px;
    margin-left: 345px;
    border-radius: 10px;
    min-height: 40em;
    width: 40rem;
}
.info h1{
    color:#0e4d66;
    padding-bottom:30px;
    padding-top:50px;
    margin-left:70px;
    font-weight: 900;
}
.info img{
    margin-left:70px;
    float:left;
    margin-right:25px;
}
.col2{
    padding-left:25px;
    color:#0e4d66;
    font-family:  sans-serif;
    font-size: 15px;
     padding-bottom:15px;
}
.col1{
    color:#0e4d66;
    font-weight: bolder;
    font-family:  sans-serif;
    padding-bottom:15px;
    font-size: 15px;

}
.info h2{
    color:#0e4d66;
    /*padding-top:10px;*/
    margin-left:70px;
    font-weight: 900;
}
.table2{
     padding-left: 70px;
}
.info h3{
    color:#0e4d66;
    margin-left:70px;
    font-weight: 900;
}
.info p{
  color:#0e4d66;
    font-family:  sans-serif;
    margin-left: 70px;
    margin-right: 50px;
    font-size: 14px;
}
.footer1{
    color:#f1f1f1;
    float: left;
    padding-top:100px;
    padding-left: 330px;
    padding-bottom: 38px;
}
.footer1 strong{
    color:#f2b01c;
    font-size: 25px;
}
.footer2{
    float:right;
    padding-top:100px;
    padding-right: 450px;
    padding-bottom: 38px;
    color:#f1f1f1;
    
}

.footer2 a{
     color:#0e4d66;
     position:absolute;
     top:1220px;
     left:915px;
    }
    .footer2 p{
        position:absolute;
        left:915px;
        top:1225px; 
    }
.error{
    display: inline-block;
    text-align: center;
}
.table_co{
    border-spacing: 0 10px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
.inf_img{
    width:200px; 
    height:200px;
    padding: 5px;
    border-radius: 10px;


}
.name_stud{
    text-align: right;
    padding: 5px;

}